body {
    background-color: rgb(253, 240, 188);
    margin: 0px;
    font-family: 'Permanent Marker', cursive;
    padding-top: 30px;
}

.head {
    display: grid;
    gap: auto;
    grid-template-columns: 400px 400px 400px;
    text-align: center;
    justify-content: center;
}

.field {
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.block1 {
    width: 400px;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 3em;
    font-family: monospace;
    line-height: 1.5em;
    cursor: default;
}

.block2 {
    width: 100px;
    height: 100px;
    background-color: crimson;  
    transition: 0.3s;
    font-size: 7em;
    padding: 0%;
    text-align: center;
    line-height: 0.7em;
    cursor: pointer;
}

.block2:hover {
    background-color: rgb(182, 1, 37); 
    transform: scale(1.1,1.1);
}

.block2:active {
    background-color: rgb(53, 0, 11);
}

.options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.newGame, .newRound {
    margin: 50px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 3em;
    border: 2px solid black;
    height: 100px;
    width: 300px;
    align-content: center;
    line-height: 2.6em;
    transition: 0.2s ;
    font-family: monospace;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    border-radius: 8px;
}

.newGame:hover, .newRound:hover {
    transform: scale(1.1,1.1);
}

.newGame:active, .newRound:active {
    background-color: rgb(53, 0, 11);
}

.win {
    background-color: rgb(182, 1, 37); 
    transform: scale(1.1,1.1);
    border: 2px solid black;
}

.turn {
    box-shadow: 0px 0px 4px 1px rgb(105, 105, 105) inset;
}

.rules {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    width: 341px;
    height: 341px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 20px black;
    border-radius: 8px;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 6969;
    padding: 5px 10px 0px 0px;
    font-size: 1em;
    font-weight: bold;
    display: none;
}

.rules li {
    padding-bottom: 10px;
}

.rules li:last-child {
    padding-bottom: 0px;
}

.rules h1 {
    margin: 5px 0px 0px 0px;
}

#okay {
    font-size: 2em;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
    background-color: crimson;
    transition: 0.2s ;
}

#okay:hover {
    transform: scale(1.1,1.1);
}

#okay:active {
    background-color: rgb(53, 0, 11);
}

div.mobile {
    display: none;
}

@media screen and (max-width: 1233px) {
    .block1 {
        text-align: center;
    }

    .block1:nth-child(2) {
        grid-row: 1;
    }

    .head {
        grid-template-columns: 100%;
    }

    .block1 {
        width: 100%;
    }

    .rules {
        margin-top: 120px;
    }
}

@media screen and (max-width: 627px) {
    div.mobile {
        display: block;
    }

    div.desktop {
        display: none;
    }

    .newGame, .newRound {
        padding-top: 10px;
        line-height: 2.6rem;
        margin: 20px;
    }

    .rules {
        margin-top: 120px;
    }
}

@media screen and (max-width: 380px) {
    .field {
        gap: 10px;
    }
}

@media screen and (max-width: 320px) {
    .field {
        gap: 5px;
    }

    .newGame, .newRound {
        padding-top: 10px;
        line-height: 2.6rem;
        margin: 10px;
    }

    .rules {
        width: 93%;
    }
}

/* Done by Lonwabo Mvovo */